*.css linguist-vendored
*.html linguist-vendored
src/static/assets/vs/* linguist-vendored
src/static/assets/vs/**/* linguist-vendored
src/static/assets/vs/basic-languages/lua/lua.js linguist-vendored
src/static/assets/js/editor.js linguist-vendored