<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Invite</title>
    <meta content="#738ADB" data-react-helmet="true" name="theme-color">
    <meta http-equiv="refresh" content="0; url=https://discord.gg/{{invite}}">
    <meta name="description" content="Check out the Nett.WTF community on Discord - hang out with other members and enjoy free voice and text chat." />
    <meta name="twitter:site" content="@discord" />
    <meta name="twitter:title" content="Join the Nett.WTF Discord Server!" />
    <meta name="twitter:description" content="Check out the Nett.WTF community on Discord - hang out with other members and enjoy free voice and text chat." />
    <meta property="og:title" content="Join the Nett.WTF Discord Server!" />
    <meta property="og:url" content="https://discord.com/invite/{{invite}}" />
    <meta property="og:description" content="Check out the Nett.WTF community on Discord - hang out with other members and enjoy free voice and text chat." />
    <meta property="og:site_name" content="Discord" />
</head>
<body>
    Redirecting you to Discord. <a href="https://discord.gg/{{invite}}">Click here if you haven't been redirected.</a>
</body>
</html>