<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>NettSS Dashboard</title>
  <link rel="stylesheet" media="screen" href="/assets/css/editor.css">
  <link rel="stylesheet" media="screen" href="/assets/css/index.css">
  <link rel="stylesheet" media="screen" href="/assets/css/players.css">
  <link rel="stylesheet" media="screen" href="/assets/css/sidebar.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
  <meta name="color-scheme" content="dark">
</head>
  <body>
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name" onclick="window.location.href = '/'"><span style="color: #bc49db;">Nett</span><span>SS</span></div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a id="tab-selected" onclick="openTab(event, 'dashboard')">
                    <i class="bx bxs-dashboard"></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a onclick="openTab(event, 'games')">
                    <i class='bx bx-game'></i>
                    <span class="links_name">Games</span>
                </a>
                <span class="tooltip">Games</span>
            </li>
            <li>
                <a class="exec-tab" onclick="openTab(event, 'executor')">
                    <i class='bx bx-code-alt'></i>
                    <span class="links_name">Executor</span>
                </a>
                <span class="tooltip">Executor</span>
            </li>
            <li>
                <a onclick="openTab(event, 'players')">
                    <i class='bx bxs-user'></i>
                    <span class="links_name">Players</span>
                </a>
                <span class="tooltip">Players</span>
            </li>
            <li>
                <a onclick="openTab(event, 'scripthub')">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Script Hub</span>
                </a>
                <span class="tooltip">Script Hub</span>
            </li>
            {%if whitelist == 255%}
            <li>
                <a onclick="openTab(event, 'admin')">
                    <i class='bx bx-key'></i>
                    <span class="links_name">Admin</span>
                </a>
                <span class="tooltip">Admin</span>
            </li>
            {%endif%}
        </ul>
        <div class="logo-details discord-profile" onclick="window.location.href = '/logout'">
          <img class="avatar" src="{{discord_avatar}}">
          <div>
            <p>{{discord_username}}</p>
            <h5 style="color: #606070;">Logout</h5>
          </div>
        </div>
    </div>
    
    <section class="home-section" id="dashboard">
      <div class="centered">
        <div class="grid-container avatar-container" style="width: min-content;">
          <div>
              <h5 style="color: #606070;">Roblox Username</h5>
              <div>
                <img id="avatar" class="avatar">
                <div>
                  <h3 id="username">_</h3>
                  <button onclick="resetRobloxId()" style="width: max-content;">Set Username</button>
                </div>
              </div>
          </div>

          <div>
              <div>
                <img class="avatar" src="/assets/svg/shield.svg">
                <div>
                  <h3 style="color: #606070;">Whitelist Type</h3>
                  <h3>{{whitelist_status}}</h3>
                </div>
              </div>
          </div>

          <div>
              <div>
                <img class="avatar" src="/assets/svg/user.svg">
                <div>
                  <h3 style="color: #606070;">User Id</h3>
                  <h3>{{user_id}}</h3>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-section" id="games">
      <div class="script-container scripthub-container">
        <div class="grid-container" id="games_list">
        </div>
      </div>
    </section>
    <section class="home-section" id="executor">
      <div class="script-container executor-container">
        <div id="container" style="width:100%; height:100%;"></div>
        <div class="execution-buttons">
          <button id="execute" onclick='execute(editor.getValue());'><i class="bx bx-play"></i> Execute</button>
          <button id="clear" onclick='editor._actions["clear-editor"]._run();'><i class="bx bx-trash"></i> Clear</button>
          <button onclick='editor._actions.open._run();'><i class="bx bx-upload"></i> Open File</button>
          <button onclick='ExecuteFile();'><i class="bx bx-code-block"></i> Execute File</button>
          <button onclick='editor._actions.save._run();'><i class="bx bx-save"></i> Save File</button>
        </div>
      </div>
    </section>
    <section class="home-section" id="players">
      <div class="player-container">
        <div class="script-container player-list-container">
          <h3>Player list</h3>
          <section class="centered">
    <input class="search" id="playersearch" value="" placeholder="Search Players" oninput="
        const val = this.value.toLowerCase();
        const players = document.querySelectorAll('.players');
        players.forEach(p => {
            const name = p.querySelector('h3')?.textContent.toLowerCase() || '';
            const username = p.querySelector('h5')?.textContent.toLowerCase() || '';
            const match = name.includes(val) || username.includes(val);
            p.style.display = match ? '' : 'none';
        });
    ">
</section>
          <ul id="player-list">
          </ul>
        </div>
        <div class="script-container" id="player-actions" userid="1">
          <h3 id="player-action-warning"></h3>
          <div class="grid-container avatar-container" id="player-actions-container">
            <div style="padding: 0!important; border: none; background: transparent;">
                <div>
                  <img class="avatar" id="player-action-avatar" style="width: 100px; height: 100px;">
                  <div style="width: 100%;">
                    <h2 id="player-action-displayname">Roblox</h2>
                    <h3 style="color: #606070;" id="player-action-username">@Roblox</h3>
                  </div>
                </div>
            </div>
            
            <h4 style="width: 100%; margin: 10px 0 0 10px;">Character Actions</h4>
            <div class="grid-container avatar-container action-buttons">
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction(`targetchar.Humanoid.WalkSpeed = ${this.parentElement.querySelector('input').value}`);">Set Speed</button>
                <input class="search" style="border-radius: 4px; padding: 8px;" id="walkspeed" type="number" value="" placeholder="Walk speed">
              </div>
            </div>

            <h4 style="width: 100%; margin: 10px 0 0 10px;">Essential Actions</h4>
            <div class="grid-container avatar-container action-buttons">
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 50%;" onclick="executePlayerAction('target:Kick()');">Kick</button>
                <button style="width: 50%;" onclick="executePlayerAction('targetchar:Destroy()');">Punish</button>
              </div>
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 50%;" onclick="executePlayerAction('require(6861971724).convert(target.Name)');">R6</button>
                <button style="width: 50%;" onclick="executePlayerAction('refresh(target)');">Refresh</button>
              </div>
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 50%;" onclick="executePlayerAction('if not plrchar.PrimaryPart then plrchar.PrimaryPart = plrchar:FindFirstChild([[HumanoidRootPart]]) end; plrchar:SetPrimaryPartCFrame(targetchar.PrimaryPart.CFrame)');">Goto</button>
                <button style="width: 50%;" onclick="executePlayerAction('if not plrchar.PrimaryPart then plrchar.PrimaryPart = plrchar:FindFirstChild([[HumanoidRootPart]]) end; if not targetchar.PrimaryPart then plrchar.PrimaryPart = targetchar:FindFirstChild([[HumanoidRootPart]]) end;targetchar:SetPrimaryPartCFrame(plrchar.PrimaryPart.CFrame)');">Bring</button>
              </div>
            </div>

            <h4 style="width: 100%; margin: 10px 0 0 10px;">Fun Actions</h4>
            <div class="grid-container avatar-container action-buttons">
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction('targethum.Health = 0');">Kill</button>
                <button style="width: 33%;" onclick="executePlayerAction('targetchar.HumanoidRootPart.Anchored = true');">Freeze</button>
                <button style="width: 33%;" onclick="executePlayerAction('targetchar.HumanoidRootPart.Anchored = false');">Thaw</button>
              </div>
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction('Instance.new(\'Explosion\', workspace).Position = targetchar.HumanoidRootPart.Position');">Explode</button>
                <button style="width: 33%;" onclick="executePlayerAction('Instance.new(\'ForceField\', targetchar)');">Forcefield</button>
                <button style="width: 33%;" onclick="executePlayerAction('targetchar:FindFirstChildOfClass(\'ForceField\'):Destroy()');">No Forcefield</button>
              </div>
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction('Instance.new(\'Smoke\', targetchar.HumanoidRootPart):SetAttribute(\'NettEmitter\', true)');">Smoke</button>
                <button style="width: 33%;" onclick="executePlayerAction('Instance.new(\'Sparkles\', targetchar.HumanoidRootPart):SetAttribute(\'NettEmitter\', true)');">Sparkles</button>
                <button style="width: 33%;" onclick="executePlayerAction('Instance.new(\'Fire\', targetchar.HumanoidRootPart):SetAttribute(\'NettEmitter\', true)');">Fire</button>
              </div>
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction('for _,v in pairs(targetchar.HumanoidRootPart:GetChildren()) do if v:GetAttribute(\'NettEmitter\') then v:Destroy() end end');">Remove Emitters</button>
                <button style="width: 33%;" onclick="executePlayerAction('targethum.Health = targethum.MaxHealth');">Heal</button>
                <button style="width: 33%;" onclick="executePlayerAction('targethum.Health = math.huge; targethum.MaxHealth = math.huge');">God</button>
              </div>
              <div class="action-buttons" style="padding: 0!important;">
              <button style="width: 33%;" onclick="executePlayerAction('for _,v in pairs(targetchar:GetDescendants()) do if v:IsA(\'BasePart\') and v.Transparency ~= 1 then v:SetAttribute(\'OgTransparency\', v.Transparency) v.Transparency = 1 end end');">Invisible</button>
                <button style="width: 33%;" onclick="executePlayerAction('targethum.Sit = true');">Sit</button>
                <button style="width: 33%;" onclick="executePlayerAction('Instance.new(\'BodyForce\', targetchar.HumanoidRootPart).Force = Vector3.new(12550821, 12550821, 0)');">Fling</button>
              </div>
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction('for _,v in pairs(targetchar:GetDescendants()) do if v:IsA(\'BasePart\') and v:GetAttribute(\'OgTransparency\') then v.Transparency = v:GetAttribute(\'OgTransparency\') end end');">Visible</button>
                <button style="width: 33%;" onclick="executePlayerAction('local meteor = game:GetService(\'InsertService\'):LoadAsset(86374494):GetChildren()[1]:GetChildren()[1]; meteor.Parent = workspace; meteor.CFrame = targetchar.HumanoidRootPart.CFrame + Vector3.new(0,100,0); game:GetService(\'Debris\'):AddItem(meteor, 10); meteor.Touched:Connect(function(p) pcall(function() p.Parent:BreakJoints() end) pcall(function() if p.Locked then return end p.Anchored = false end) end)');">Meteor</button>
                <button style="width: 33%;" onclick="executePlayerAction('local car = game:GetService(\'InsertService\'):LoadAsset(6418239833):FindFirstChild(\'Sedan (red)\'); car:SetPrimaryPartCFrame(targetchar.HumanoidRootPart.CFrame * CFrame.new(10,0,0)); car.Parent = workspace; car:MakeJoints()');">Car</button>
              </div>
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction('local mob = game:GetService(\'InsertService\'):LoadAsset(95401558):GetChildren()[1]; mob.PrimaryPart = mob.Torso; mob:SetPrimaryPartCFrame(targetchar.Head.CFrame); mob.Parent = workspace');">Shade</button>
                <button style="width: 33%;" onclick="executePlayerAction('local mob = game:GetService(\'InsertService\'):LoadAsset(94251705):GetChildren()[1]; mob.PrimaryPart = mob.Torso; mob:SetPrimaryPartCFrame(targetchar.Head.CFrame); mob.Parent = workspace');">Ghost</button>
                <button style="width: 33%;" onclick="executePlayerAction('local mob = game:GetService(\'InsertService\'):LoadAsset(187789986):GetChildren()[1]; mob.PrimaryPart = mob.Torso; mob:SetPrimaryPartCFrame(targetchar.Head.CFrame); mob.Parent = workspace');">Zombie</button>
              </div>
            </div>

            <h4 style="width: 100%; margin: 10px 0 0 10px;">Tools Actions</h4>
            <div class="grid-container avatar-container action-buttons">
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction('require(580330877)().Parent = target.Backpack');">F3X</button>
                <button style="width: 33%;" onclick="executePlayerAction('local tool = game:GetService(\'InsertService\'):LoadAsset(95354288):GetChildren()[1]; tool.Parent = target.Backpack');">Luger</button>
                <button style="width: 33%;" onclick="executePlayerAction('local tool = game:GetService(\'InsertService\'):LoadAsset(11999247):GetChildren()[1]; tool.Parent = target.Backpack');">Subspace Tripmine</button>
              </div>
            </div>

            <h4 style="width: 100%; margin: 10px 0 0 10px;">Troll Actions</h4>
            <div class="grid-container avatar-container action-buttons">
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 50%;" onclick="let sel = document.getElementById('jumpscare');
                                                     if (sel.value && sel.value != '') {
                                                       executePlayerAction('local textureId=game:GetService(\'InsertService\'):LoadAsset('+sel.value+'):GetChildren()[1].Texture;local gui=Instance.new(\'ScreenGui\',target.PlayerGui)gui.IgnoreGuiInset=true;gui.DisplayOrder=2147483647;local sound=Instance.new(\'Sound\',gui)sound.Volume=math.huge;sound.SoundId=\'rbxassetid:/\/85271883712040\';sound:Play()local img=Instance.new(\'ImageLabel\',gui)img.ScaleType=Enum.ScaleType.Fit;img.BackgroundColor3=Color3.new(0);img.ZIndex=2147483647;img.Size=UDim2.new(1,0,1,0)img.Image=textureId;game:GetService(\'Debris\'):AddItem(gui,3)');
                                                     }">Jumpscare</button>
                <div style="width: 50%;" class="custom-select">
                  <select id="jumpscare">
                    <option value="">Select Jumpscare</option>
                    <option value="3100736018">Scary face 1</option>
                    <option value="7409940110">Scary face 2</option>
                    <option value="15889768466">Momo</option>
                    <option value="6182991657">Scary face 3</option>
                    <option value="10369918089">Scary face 4</option>
                    <option value="664919078">Scary face 5</option>
                    <option value="110283275538394">Jeff the Killer 1</option>
                    <option value="668614179">Jeff the Killer 2</option>
                    <option value="12735029556">Smile Dog</option>
                    <option value="111019744">Smile Dog 2</option>
                    <option value="92738651899331">Scary face 6</option>
                    <option value="107062215441173">King Von</option>
                    <option value="7019166049">Russian Sleep Experiment</option>
                    <option value="16875456291">The Rake</option>
                    <option value="114664205641582">Scary face 7</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section class="home-section" id="scripthub">
      <div class="script-container scripthub-container">
        <div class="centered">
          <input class="search" id="module-username" value="" placeholder="Target's username">
          <a id="report-button">report a script as broken</a>
        </div>
        <div class="grid-container" id="modules">
        </div>
      </div>
    </section>
    {%if whitelist == 255%}
    <section class="home-section" id="admin">
      <div class="script-container executor-container">
        <div class="grid-container">
          <h2>Admin panel</h2>
        </div>
      </div>
    </section>
    {%endif%}

    <script src="/assets/vs/loader.js"></script>
    <script defer src="/assets/js/editor.js"></script>
    <script src="/assets/js/sidebar.js"></script>
    <script>
      function getUserId() {
        return "{{roblox_id}}";
      }
      {%if tos_updated or new_user%}
        Swal.fire({
          {%if tos_updated%}
          title:"Updated Terms of Service",
          html:`We updated our <a href="/terms">Terms of Service</a>, you can exit this page now, but this message will re-appear until it is accepted. By clicking "I agree", you confirm that you have read and agree to our updated terms of service.`,
          {%endif%}
          {%if new_user%}
          title:"Terms of Service",
          html:`To continue using our service, you must agree to our <a href="/terms">Terms of Service</a>, you can exit this page now, but this message will re-appear until it is accepted. By clicking "I agree", you confirm that you have read and agree to our terms of service.`,
          {%endif%}
          confirmButtonText: "Accept",
          allowOutsideClick: false,
          input: "checkbox",
          inputPlaceholder: "I agree",
          preConfirm: (result) => {
            return Swal.getInput().checked;
          }
        }).then((result) => {
           if (result.isConfirmed) {
            fetch("/api/agree").then(() => {
              location.reload();
            });
          }
        });
      {%endif%}
      {%if roblox_id == 1 and not tos_updated and not new_user%}
        Swal.fire({
          title: "Register your Roblox account",
          text: `Please enter your Roblox username to get it whitelisted. You can always change this later.`,
          confirmButtonText: "Change",
          allowOutsideClick: false,
          input: "text",
          inputPlaceholder: "Roblox Username",
          confirmButtonText: "Change",
          preConfirm: () => {
            const username = Swal.getInput().value.trim().toLowerCase();
            if (!username) {
              Swal.showValidationMessage("Please enter a username.");
              return false;
            }

            return fetch("/assets/data/filter.json")
              .then(response => response.json())
              .then(filter => {
                if (username in filter) {
                  Swal.showValidationMessage(filter[username]);
                  return false;
                }

                return robloxUsernameToId(username).then(userId => {
                  if (userId == 1) {
                    Swal.showValidationMessage("Username not found. Please check your spelling.");
                    return false;
                  }

                  return fetch(`/api/update_id?userid=${userId}`)
                    .then(response => response.text())
                    .then(text => {
                      const done = text.trim() === "Done!";
                      if (!done) {
                        Swal.showValidationMessage("Failed to register. Try again later.");
                      }
                      return done;
                    });
                });
              })
              .catch(_ => {
                Swal.showValidationMessage("An error occurred. Please try again.");
                return false;
              });
          }
        }).then((result) => {
          if (result.isConfirmed) {
            location.reload();
          }
        });
      {%endif%}
    </script>
    <script defer src="/assets/js/roblox.js"></script>
    <script defer src="/assets/js/report.js"></script>
    <script defer src="/assets/js/execute.js"></script>
  </body>
</html>
