<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Roblox Serverside</title>
  <link rel="stylesheet" media="screen" href="/assets/css/editor.css">
  <link rel="stylesheet" media="screen" href="/assets/css/index.css">
  <link rel="stylesheet" media="screen" href="/assets/css/players.css">
  <link rel="stylesheet" media="screen" href="/assets/css/sidebar.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.34.0/ace.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.34.0/ext-language_tools.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
</head>
  <body>
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name" onclick="window.location.href = '/'"><span style="color: #bc49db;">Nett</span><span>.WTF</span></div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a id="tab-selected" onclick="openTab(event, 'dashboard')">
                    <i class='bx bxs-dashboard'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a onclick="openTab(event, 'games')">
                    <i class='bx bx-game'></i>
                    <span class="links_name">Games</span>
                </a>
                <span class="tooltip">Games</span>
            </li>
            <li>
                <a class="exec-tab" onclick="openTab(event, 'executor')">
                    <i class='bx bx-code-alt'></i>
                    <span class="links_name">Executor</span>
                </a>
                <span class="tooltip">Executor</span>
            </li>
            <li>
                <a onclick="openTab(event, 'players')">
                    <i class='bx bxs-user'></i>
                    <span class="links_name">Players</span>
                </a>
                <span class="tooltip">Players</span>
            </li>
            <li>
                <a onclick="openTab(event, 'scripthub')">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Script Hub</span>
                </a>
                <span class="tooltip">Script Hub</span>
            </li>
        </ul>
        <div class="logo-details discord-profile" onclick="window.location.href = '/logout'">
          <img class="avatar" src="{{discord_avatar}}">
          <div>
            <p>{{discord_username}}</p>
            <h5 style="color: #606070;">Logout</h5>
          </div>
        </div>
    </div>
    
    <section class="home-section" id="dashboard">
      <div class="centered">
        <div class="grid-container avatar-container" style="width: min-content;">
          <div>
              <h5 style="color: #606070;">Roblox Username</h5>
              <div>
                <img id="avatar" class="avatar">
                <div>
                  <h3 id="username">Roblox</h3>
                  <input oninput="updateUserDashboard()" type="number" id="userid" value="{{roblox_id|safe}}" placeholder="Your userid">
                </div>
              </div>
          </div>

          <div>
              <div>
                <img class="avatar" src="/assets/svg/shield.svg">
                <div>
                  <h3 style="color: #606070;">Whitelist Type</h3>
                  <h3>{{whitelist}}</h3>
                </div>
              </div>
          </div>

          <div>
              <div>
                <img class="avatar" src="/assets/svg/user.svg">
                <div>
                  <h3 style="color: #606070;">User Id</h3>
                  <h3>{{user_id}}</h3>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-section" id="games">
      <div class="script-container scripthub-container">
        <div class="grid-container" id="games_list">
        </div>
      </div>
    </section>
    <section class="home-section" id="executor">
      <div class="script-container executor-container">
        <pre id="editor"></pre>
        <div class="execution-buttons">
          <button id="execute" onclick='execute(GetText());'><i class="bx bx-play"></i> Execute</button>
          <button id="clear" onclick='SetText("print(\"Hello world!\")");'><i class="bx bx-trash"></i> Clear</button>
          <button onclick='SetFile();'><i class="bx bx-upload"></i> Open File</button>
          <button onclick='ExecuteFile();'><i class="bx bx-code-block"></i> Execute File</button>
          <button onclick='SaveFile(GetText());'><i class="bx bx-save"></i> Save File</button>
        </div>
      </div>
    </section>
    <section class="home-section" id="players">
      <div class="player-container">
        <div class="script-container player-list-container">
          <h3>Player list</h3>
          <ul id="player-list">
          </ul>
        </div>
        <div class="script-container" id="player-actions" userid="1">
          <div class="grid-container avatar-container" id="player-actions-container">
            <div style="padding: 0!important; border: none; background: transparent;">
                <div>
                  <img class="avatar" id="player-action-avatar" style="width: 100px; height: 100px;">
                  <div style="width: 100%;">
                    <h2 id="player-action-displayname">Roblox</h2>
                    <h3 style="color: #606070;" id="player-action-username">@Roblox</h3>
                  </div>
                </div>
            </div>
            <h4 style="width: 100%; margin: 10px 0 0 10px;">Essential Actions</h4>
            <div class="grid-container avatar-container action-buttons">
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 50%;" onclick="executePlayerAction('target:Kick()');">Kick</button>
                <button style="width: 50%;" onclick="executePlayerAction('targetchar:Destroy()');">Punish</button>
              </div>
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 50%;" onclick="executePlayerAction('require(6861971724).convert(target.Name)');">R6</button>
                <button style="width: 50%;" onclick="executePlayerAction('refresh(target)');">Refresh</button>
              </div>
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 50%;" onclick="executePlayerAction('if not plrchar.PrimaryPart then plrchar.PrimaryPart = plrchar:FindFirstChild([[HumanoidRootPart]]) end; plrchar:SetPrimaryPartCFrame(targetchar.PrimaryPart.CFrame)');">Goto</button>
                <button style="width: 50%;" onclick="executePlayerAction('if not plrchar.PrimaryPart then plrchar.PrimaryPart = plrchar:FindFirstChild([[HumanoidRootPart]]) end; if not targetchar.PrimaryPart then plrchar.PrimaryPart = targetchar:FindFirstChild([[HumanoidRootPart]]) end;targetchar:SetPrimaryPartCFrame(plrchar.PrimaryPart.CFrame)');">Bring</button>
              </div>
            </div>
            <h4 style="width: 100%; margin: 10px 0 0 10px;">Fun Actions</h4>
            <div class="grid-container avatar-container action-buttons">

              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction('targethum.Health = 0');">Kill</button>
                <button style="width: 33%;" onclick="executePlayerAction('targetchar.HumanoidRootPart.Anchored = true');">Freeze</button>
                <button style="width: 33%;" onclick="executePlayerAction('targetchar.HumanoidRootPart.Anchored = false');">Thaw</button>
              </div>
              
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction('Instance.new(\'Explosion\', workspace).Position = targetchar.HumanoidRootPart.Position');">Explode</button>
                <button style="width: 33%;" onclick="executePlayerAction('Instance.new(\'ForceField\', targetchar)');">Forcefield</button>
                <button style="width: 33%;" onclick="executePlayerAction('targetchar:FindFirstChildOfClass(\'ForceField\'):Destroy()');">No Forcefield</button>
              </div>
              
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction('Instance.new(\'Smoke\', targetchar.HumanoidRootPart)');">Smoke</button>
                <button style="width: 33%;" onclick="executePlayerAction('Instance.new(\'Sparkles\', targetchar.HumanoidRootPart)');">Sparkles</button>
                <button style="width: 33%;" onclick="executePlayerAction('Instance.new(\'Fire\', targetchar.HumanoidRootPart)');">Fire</button>
              </div>
              
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction('targethum.Health = targethum.MaxHealth');">Heal</button>
                <button style="width: 33%;" onclick="executePlayerAction('targethum.Health = math.huge; targethum.MaxHealth = math.huge');">God</button>
                <button style="width: 33%;" onclick="executePlayerAction('targethum.Sit = true');">Sit</button>
              </div>
              
              <div class="action-buttons" style="padding: 0!important;">
                <button style="width: 33%;" onclick="executePlayerAction('Instance.new(\'BodyForce\', targetchar.HumanoidRootPart).Force = Vector3.new(12550821, 12550821, 0)');">Fling</button>
                <button style="width: 33%;" onclick="executePlayerAction('local meteor = game:GetService(\'InsertService\'):LoadAsset(86374494):GetChildren()[1]:GetChildren()[1]; meteor.Parent = workspace; meteor.CFrame = targetchar.HumanoidRootPart.CFrame + Vector3.new(0,100,0); game:GetService(\'Debris\'):AddItem(meteor, 10); meteor.Touched:Connect(function(p) pcall(function() if p.Locked then return end p.Anchored = false p.Parent:BreakJoints() end) end)');">Meteor</button>
                <button style="width: 33%;" onclick="executePlayerAction('local car = game:GetService(\'InsertService\'):LoadAsset(59524622):GetChildren()[1]; car.PrimaryPart = car.StamperFloor; car:SetPrimaryPartCFrame(targetchar.HumanoidRootPart.CFrame * CFrame.new(10,0,0) * CFrame.Angles(0, math.rad(180), 0)); car.Parent = workspace; car:MakeJoints()');">Car</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-section" id="scripthub">
      <div class="script-container scripthub-container">
        <div class="centered">
          <input id="module-username" value="" placeholder="Target's username (or me, all, others)">
        </div>
        <div class="grid-container" id="modules">
        </div>
      </div>
    </section>

    <script src="/assets/js/sidebar.js"></script>
    <script src="/assets/js/roblox.js"></script>
    <script src="/assets/js/execute.js"></script>
    <script src="/assets/js/editor.js"></script>
    <script>
      SetText('print(\"Hello world!\")');
    </script>
  </body>
</html>
