<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nett.wtf</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/assets/css/index.css">
        <link rel="stylesheet" media="screen" href="/assets/css/sidebar.css">
    </head>
    <body>
        <div style="text-align: center;">
            <h1><div class="logo_name"><span style="color: #bc49db;">Nett</span><span>.WTF</span></div></h1>
            <p>Website under construction but fully functional!</p>
            <p>Since May 20th, 2024.</p>
            {{dashboard_button}}
            <br>
            <br>
            <p>our whitelist is currently private! make an account and contact<br>us at <a href="mailto:support@nett.wtf">support@nett.wtf</a> if you want to beta test!</p>
            <br>
            <br>
            <br>
            <a style="color: #606070;" href="mailto:legal@nett.wtf">legal@nett.wtf</a><br>
            <a href="/privacy">privacy policy</a>
        </div>
    </body>
</html>