<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NettSS</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/assets/css/home.css">
        <link rel="stylesheet" href="/assets/css/index.css">
        <link rel="stylesheet" href="/assets/css/sidebar.css">
        <meta content="NettSS" property="og:title">
        <meta content="Nett Administration is an open-source admin program for Roblox, offering a wide array of features and commands to improve the experience for both players and developers." property="og:description">
        <meta content="https://{{domain}}/" property="og:url">
        <meta content="#bc49db" data-react-helmet="true" name="theme-color">
        <meta name="color-scheme" content="dark">
    </head>
    <body>
        <header class="banner"><i class='bx bxs-rocket'></i> We are now in public beta! Our whitelist is open for a limited time.</header>
        <nav class="navbar">
            <div class="logo"><div class="logo_name" onclick="window.location.href = '/'"><span style="color: #bc49db;">Nett</span><span>SS</span></div></div>
            <div>
                <ul class="nav-links">
                    <li>
                        <a href="#">home</a>
                        <a href="/script">script</a>
                    </li>
                </ul>
            </div>
            <a href="/dashboard" class="btn-dashboard">{% if whitelisted %}dashboard{% else %}use for free{% endif %}</a>
        </nav>
        <section class="hero">
            <h1 style="max-width: 700px;">a <span>fully free</span><br>roblox serverside</h1>
            <p>since may 20th, 2024. no downloads, no payment, no bs.</p>
            <div class="hero-buttons">
                {{dashboard_button}}
            </div>
        </section>
        <footer class="footer">
            <a style="color: #606070;" href="mailto:legal@{{domain}}">legal@nett.wtf</a><br>
            <a href="/privacy">privacy policy</a>
            &#9642;
            <a href="/terms">terms of service</a>
            <br>
            <a href="/eula">end-user license agreement</a>
        </footer>
    </body>
</html>
