<p style="width: 100%; text-align: center;"><i class="bx bx-error"></i> Many modules have been temporarily deleted, we are working on bringing them back with a new asset moderation bypass.</p>
{%for v in modules%}
    {%if v.get("broken") != True %}
    <div class="module" onclick='executeRequire(`{{v["module"]}}`);'>
        <img src='{{v["image"]}}' class="preview-img">
        <h3>
            {{v["name"]}}
            <div class="badges">
                {%for badge in v["badges"]%}
                    <h5>{{badge}}</h5>
                {%endfor%}
            </div>
        </h3>
        <h5 style="color: #b9b9b9;">{{v["author"]}}</h5>
        <h5 class="description">{{v["description"]}}
            {%if v.get("controls") != None%}<a class="module-controls" onclick='
            
            if (!e) var e = window.event;
            e.cancelBubble = true;
            if (e.stopPropagation) e.stopPropagation();
            Swal.fire({textalign:`left`, html:`<p style="text-align: left; white-space: pre;">{{v["controls"]}}</p>`})

            ' href="#">Click for controls.</a>
            {%endif%}</h5>
    </div>
    {%endif%}
{%endfor%}