{% extends "base.html" %}

{% block extra_css %}
        <link rel="stylesheet" media="screen" href="/assets/css/privacy.css">
{% endblock %}

{% block head_extras %}
        <meta content="NettSS" property="og:title">
        <meta content="An open-source server-side LuaU executor for Roblox over HTTP. Allows in-game code execution and administration." property="og:description">
{% endblock %}

{% block body %}
        <div style="text-align: center;">
            <h1 onclick="window.location.href = '/'"><div class="logo_name"><span style="color: #bc49db;">Nett</span><span>SS</span></div></h1>
        </div>
        <div class="grid-container avatar-container" style="max-width: 892px; width: 100%; margin: auto;">
            <div class="legal">
                <h1>Terms of Service</h1>
                <p>Before signing up or logging in to our website, you must meet certain requirements. By signing up or logging in, you confirm that you agree to the following terms and conditions.</p>
                <br>

                <h2>Service Agreement</h2>
                <p>Please make sure to follow these terms, as failure to do so may result in account deactivation. Note that the <a href="/eula">End-User License Agreement</a> remains in effect even if you are exempt from the blacklist policy.</p>
                <ul style="margin: 16px 32px;">
                    <li>You confirm that you have read and agree to our <a href="/eula">End-User License Agreement</a>. If you do not agree to these terms, you may not open an account or use any of our services we provide.</li>
                    <li>You must comply with <a href="https://discord.com/terms">Discord's Terms of Service</a>. We are not affiliated with Discord, but our authentication system is based on their platform.</li>
                    <li>Our service may not be used for any illegal activity. Accounts involved in unlawful behavior, along with any linked accounts, will be terminated. We ask and encourage all users to report suspicious or illegal activity.</li>
                    <li>You are fully responsible for your actions and any content you create or upload. While we moderate to the best of our ability, we are not liable for user-generated content.</li>
                    <li>Staff reserve the right to terminate accounts without notice if your actions harm the service. We will make every effort to contact you before taking action.</li>
                </ul>
                <br>

                <h2>Blacklist Policy</h2>
                <p>By signing up or logging in, you acknowledge that we reserve the right to revoke your access at any time if we determine that your actions have caused significant harm to our service. This includes, but is not limited to:</p>
                <ul style="margin: 16px 32px;">
                    <li>Causing serious disruption that negatively affects other users or their experience.</li>
                    <li>Abusing our service, as detailed in our <a href="/eula">End-User License Agreement</a>.</li>
                </ul>
                <br>

                <h2>Contact Us</h2>
                <p>For questions or clarification on permitted use, please contact us at <a href="mailto:support@nett.wtf">support@nett.wtf</a>.</p>
                <br>
            </div>
        </div>
{% endblock %}
