html {
    overflow-y: hidden;
}

#container {
    flex-grow: 1;
    margin-bottom: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.preview-img {
    width: calc(100% + 16px);
    margin: -16px -8px 8px;
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid #50407040;
}

button {
    min-height: 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 4px;
    margin: 6px;
}

button:active:after {
    background: transparent;
}

button:before {
    content: '';
    background: var(--dark-btn-hov);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 4px;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 4px;
}

.action-buttons button:after {
    background: var(--dark-btn);
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#userid {
    text-align: left;
}

.avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border: 2px solid #50407040;
    border-radius: 8px;
    background-color: #50407040;
    aspect-ratio: 1 / 1;
}

.avatar-container > div {
    max-width: 100%!important;
    padding: 8px 16px!important;
}

.avatar-container > div > div {
    display: flex;
    flex-direction: row!important;
    align-items: center;
}

.avatar-container > div > div > div {
    padding-left: 8px;
}

.avatar-container > div > div > div > h1, h2, h3, h4, h5, h6, p, a, span, li {
    text-overflow: ellipsis;
}

.emoji {
    height: 31px;
    transform: translate(10px, 5px);
}

.badges {
    display: flex;
    align-items: left;
    flex-direction: row;
    display: inline-block;
}

.badges * {
    padding: 1px 3px;
    margin-right: 6px;
    background: var(--nett);
    border-radius: 6px;
    color: #fff!important;
}

.search {
    padding: 10px;
    border-radius: 40px;
    width: 100%;
    text-align: left;
}

#module-username {
    max-width: 500px;
    text-align: center;
}

#report-button {
    justify-content: center;
}

.execution-buttons {
    display: flex;
    height: 60px;
    overflow-x: auto;
    overflow-y: hidden;
}

.execution-buttons * {
    flex-shrink: 0;
}

.swal2-popup {
    border: 2px solid #50407040!important;
    border-radius: 8px!important;
    background-color: var(--darker-hov)!important;
}
.swal2-input {
    background-color: var(--dark)!important;
}
.swal2-select {
    background-color: var(--dark)!important;
}

.swal2-validation-message {
    background-color: var(--dark)!important;
}

.player-list-container {
    width: 30%;
    height: calc(100svh - 2em);
}

#player-actions {
    width: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100svh - 2em);
}

#player-actions::-webkit-scrollbar-track {
    background-color: var(--dark-hov);
}

#player-list {
    height: calc(100% - 4.5em);
    overflow-y: scroll;
    overflow-x: hidden;
}

.scripthub-container {
    overflow-y: scroll;
    height: calc(100svh - 2em);
}

.scripthub-container::-webkit-scrollbar-track {
    background-color: var(--dark-hov);
}

.module {
    transition: transform 0.3s ease;
    margin: 1px!important;
    background-color: var(--dark-btn)!important;
    cursor:pointer;
}

.module:hover {
    transform: scale(1.05);
    background-color: var(--dark-btn-hov)!important;
    z-index: 1;
}

.game {
    transition: transform 0.3s ease;
    margin: 1px!important;
    background-color: var(--dark-btn)!important;
    cursor:pointer;
}

.game img {
    aspect-ratio: 16 / 9;
}

.game:hover {
    transform: scale(1.05);
    background-color: var(--dark-btn-hov)!important;
    z-index: 1;
}

#execute {
    background-color: rgb(0, 69, 0);
}

#execute::after {
    background-color: green;
}

#clear {
    background-color: rgb(178, 0, 0);
}

#clear::after {
    background-color: red;
}

.module-controls {
    cursor: help;
    color: var(--nett);
}

.discord-profile {
    margin: 0 8px;
    display: flex!important;
    cursor: pointer;
    width: -webkit-fill-available!important;
    bottom: 0;
    position: absolute!important;
    margin-bottom: 16px;
}

.discord-profile .avatar {
    margin-right: 8px;
}

.discord-profile div {
    flex: auto;
}

.discord-profile,
.discord-profile div,
.discord-profile div * {
    /*display: inline;*/
    width: min-content;
}

body {
    overflow-y: hidden;
}

.swal2-styled {
    border: 2px solid var(--darker-hov);
}

.action-buttons {
    border: none!important;
    margin: 0!important;
}

.action-buttons button {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0!important;
}

.swap-item {
    display: none;
}
.swap-item.active {
    display: block;
}