@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --bg: rgba(30, 30, 45, 1);
    --lite: rgba(30, 30, 45, 0.9);
    --monaco: rgba(25, 25, 40, 0.9);
    --dark: rgba(20, 20, 35, 0.2);
    --dark-hov: rgba(20, 20, 35, 0.5);
    --dark-btn: rgba(25, 25, 40, 1);
    --dark-btn-hov: rgba(20, 20, 35, 1);
    --darker-hov: rgba(20, 20, 35, 1);
    --side: rgba(20, 20, 35, 1);
    --nett: #bc49db;
    --selected: rgba(188, 73, 219, 0.1);
    --card: rgba(20, 20, 35, 0.1);
    --card-dark: rgba(188, 73, 219, 0.1);
}

html, body {
    background-color: var(--bg);
}

*:not(#container, #container *, #code, #code *, p, i, a, span) {
    font-family: Inter, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: var(--dark-hov); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--dark-hov); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-hov); 
}

img {
    pointer-events: none;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-container > div {
    width: 100%;
    max-width: 250px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    padding: 16px 8px 4px 8px;
    margin: 5px;
    border: 2px solid #50407040;
    border-radius: 8px;
    background-color: var(--lite);
}

.grid-container > .game, .grid-container > .module {
    flex: 0 0 calc(25% - 2px)!important;
    max-width: calc(25% - 2px)!important;
    min-width: 240px!important;
    box-sizing: border-box!important;
}


@media only screen and (max-width: 1295px) {
    .grid-container > .game, .grid-container > .module {
        flex: 0 0 calc(33% - 2px)!important;
        max-width: calc(33% - 2px)!important;
    }
}

@media only screen and (max-width: 1053px) {
    .grid-container > .game, .grid-container > .module {
        flex: 0 0 calc(50% - 2px)!important;
        max-width: calc(50% - 2px)!important;
        min-width: 0px!important;
    }
}

@media only screen and (max-width: 658px) {
    .grid-container > .game, .grid-container > .module {
        flex: 0 0 100%!important;
        max-width: 100%!important;
        min-width: 0px!important;
    }
}


.script-container {
    padding: 16px 16px 8px 16px;
    margin: 5px;
    border: 2px solid #50407040;
    border-radius: 8px;
    background-color: var(--lite);
}

.executor-container {
    display: flex;
    flex-direction: column;
}

.player-container {
    display: flex;
    height: 100%;
}

.grid-container > div > button {
    margin-top: auto;  
}

button, input {
    border: 2px solid #50407040;
    border-radius: 4px;
    background-color: var(--dark);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

input {
    background-color: var(--dark-hov);
}

button:hover:not(.play-button), input:hover:not(.search) {
    transform: scale(1.05);
}

button:active:not(.play-button), input:active:not(.search) {
    transform: scale(1.05);
}

input {
    padding: 0;
}

.grid-container > div > h1, h2, h3, h4, h5, h6, p, a {
    margin-top: 0;
    /*margin-bottom: 4px;*/
}

.description {
    height: 2.4em;
    color: #606070!important;
    margin-bottom: 6px;
    white-space: pre-line;
}

/*.description:hover {
    height: max-content;
}*/

.centered {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.code {
    padding: 8px;
    margin: 5px;
    border: 2px solid #50407040;
    border-radius: 4px;
    background-color: #252525;
    color: #CCCCCC;
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    word-wrap: break-word;
}

.code * {
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.discord-button {
    background-color: #5865F2;
    border: 2px solid #5865F2;
    color: white!important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 8px;
}

.dashboard-button {
    background-color: var(--nett);
    border: 2px solid var(--nett);
    color: white!important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 8px;
}

a, a:visited {
    color: var(--nett);
}

#report-button {
    text-decoration: underline;
    cursor: pointer;
}

.play-button {
    padding: 0!important;
    margin-top: auto!important;
    z-index: 2;
}

.play-button, .play-button::before, .play-button::after {
    background-color: #335fff;
    background: #335fff;
    filter: none;
    transition: none;
}

.play-button .bx-play {
    font-size: 2em;
}

.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input {
    background-color: var(--monaco)!important;
}
.monaco-editor .margin {
    background-color: var(--dark)!important;
}

#games_list p {
    width: 100%;
    text-align: center;
    border-radius: 8px;
    background-color: var(--selected);
    border: var(--nett) 2px solid;
    padding: 8px;
    box-sizing: content-box;
    display: block !important;
}

.game-stats {
    display: flex;
    flex-direction: row;
}

.game-stats > div {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    margin: 5px;
    border: 2px solid #50407040;
    border-radius: 8px;
    background-color: var(--dark-hov);
    padding: 4px;
    flex: 1 1 33.333%;
    box-sizing: border-box;
}

@media (max-width: 999px) {
    .game-stats {
        display: flex;
        flex-direction: column;
    }
     .game-stats > div {
        flex: 1;
        width: 100%;
        justify-content: center;
    }
}

.game-stats > div > * {
    border: none;
    text-align: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 4px;
}