.players i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.players .nav-list {
    margin-top: 20px;
    height: 100%;
}

.players li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.players input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.players.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.players .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #fff;
}

.players .bx-search:hover {
    background: #fff;
    color: #222222;
}

.players.open .bx-search:hover {
    background: #1d1b31;
    color: #fff;
}

.players li i {
    font-size: 18px;
    border-radius: 12px;
}

.players li a {
    display: flex;
    height: 100%;
    width: calc(100% - 4px);
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--dark);
    cursor: pointer;
    border: 2px solid #50407040;
}

.players li a div div img {
    border: none;
}

.players li a:hover {
    background: var(--dark-hov);
}

.players li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.players.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.players li a:hover .links_name,
.players li a:hover i {
    transition: all 0.5s ease;
    color: #2B2B2B;
}

#player-action-warning {
    display: flex;
    text-align: center;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#player-action-warning h3 {
    animation: waiting 1s linear 0s infinite alternate;
}

@keyframes waiting {
    0% { color: #e791ff; }
    100% { color: #8520a1; }
}

.found {
    animation: none!important;
    color: #bc49db!important;
}